*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color: rgb(255, 255, 255);
}

.Navbar ul
{
    list-style: none;
    background-color: rgb(8, 4, 29);
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.Navbar li
{
    display: inline-block;
}

.Navbar a 
{
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 25px;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

h2 hr
{
    color: red;
    background-color: red;
}
.foot 
{
    background-color: rgb(117, 116, 116);
    display:flex;
    width: 100%;
}

.footer
{
    height: 100px;
    display:inline-flex ;
}

.slider::-webkit-scrollbar {
    display: none;
}
